.productdetail + .magazinedetail {
  margin-top: 70px;
}

.productdetail + .productdetail {
  margin-top: 70px;
}

.productdetail img {
  max-width: 100% !important;
}

.productdetail .contbox {
  padding: 0 16px;
}

.productdetail .contbox .ptitle {
  margin-left: 0;
  margin-right: 0;
}

.productdetail .contbox .ptxt {
  margin-left: 0;
  margin-right: 0;
}

.ptitle {
  margin-left: 50px;
  margin-right: 50px;
}

.ptitle.big {
  margin-top: 36px;
  color: #101010;
  font-size: 40px;
  font-weight: 600;
}

.ptitle.middle {
  margin-top: 36px;
  color: #101010;
  font-size: 28px;
}

.ptitle.small {
  margin-top: 11px;
  color: #454545;
  font-size: 24px;
}

.productdetail + .ptitle {
  margin-top: 70px;
}

.ptitle + .productdetail {
  margin-top: 20px;
}

.ptitle + img {
  margin-top: 20px;
}

.ptxt {
  margin-left: 50px;
  margin-right: 50px;
}

.ptxt.default {
  margin-top: 8px;
  line-height: 36px;
  color: #101010;
  font-size: 20px;
}

.ptxt.quote {
  margin-top: 22px;
  padding: 0 38px;
}

.ptxt.quote .col-img {
  position: relative;
  display: inline-block;
  width: 128px;
  vertical-align: top;
}

.ptxt.quote .col-img .img {
  border-radius: 100%;
}

.ptxt.quote .col-img .img-txt {
  position: absolute;
  bottom: -18px;
  left: 0;
}

.ptxt.quote .col-cont {
  display: inline-block;
  padding-left: 21px;
}

.ptxt.quote .col-cont .ptitle.small {
  margin-top: 0;
}

.ptxt.quote .desc {
  margin-top: 28px;
  line-height: 36px;
  color: #767572;
  font-size: 20px;
  text-indent: -11px;
}

.ptxt.quote .desc .mark {
  margin: 0 5px;
  line-height: 24px;
  font-size: 34px;
  font-weight: 600;
  font-style: italic;
}

.pbox.text .desc {
  margin-top: 4px;
  line-height: 36px;
  color: #101010;
  font-size: 20px;
}

.ptxt.checklist {
  margin-top: 10px;
}

.ptxt.checklist li {
  position: relative;
  margin-top: 8px;
  padding-left: 60px;
  color: #101010;
  font-size: 20px;
}

.ptxt.checklist li:first-child {
  margin-top: 0;
}

.ptxt.checklist li:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 22px;
  background: url("/assets/ico-checklist.png") no-repeat 0 0;
}

.ptxt.square {
  margin-top: 45px;
  padding-left: 30px;
}

.ptxt.square strong {
  position: relative;
  color: #101010;
  font-size: 18px;
}

.ptxt.square strong:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -30px;
  width: 8px;
  height: 18px;
  background: #101010;
}

.ptxt.square p {
  margin-top: 8px;
  line-height: 30px;
  color: #454545;
  font-size: 18px;
}

.ptxt.square + .ptxt.number {
  margin-top: 40px;
}

.ptxt.number {
  margin-top: 40px;
  padding-left: 30px;
}

.ptxt.number strong {
  position: relative;
  color: #101010;
  font-size: 18px;
}

.ptxt.number strong:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -30px;
  width: 8px;
  height: 18px;
  background: #101010;
}

.ptxt.number ol {
  margin-top: 10px;
}

.ptxt.number ol li {
  margin-top: 11px;
  padding-left: 21px;
  color: #454545;
  font-size: 18px;
  text-indent: -21px;
}

.ptxt.number ol li:first-child {
  margin-top: 0;
}

.ptxt + .ptxt {
  margin-top: 20px;
}

.ptxt + img {
  margin-top: 20px;
}

.pbox.option + .pbox.option {
  margin-top: 80px;
}

.pbox.option {
  margin-top: 30px;
}

.pbox.option .imgbox.col1 img {
  max-width: 100% !important;
}

.pbox.option .imgbox.col2 img {
  max-width: 50% !important;
}

.pbox.option .imgbox.col3 img {
  max-width: 33.3% !important;
}

.pbox.option .imgbox {
  font-size: 0;
  text-align: center;
}

.pbox.option .imgbox img {
  vertical-align: middle;
}

.pbox.option .imgbox + .tit {
  margin-top: 30px;
}

.pbox.option .tit {
  display: block;
  margin-top: 11px;
  color: #101010;
  font-size: 20px;
  font-weight: 200;
}

.pbox.option .desc {
  display: block;
  margin-top: 4px;
  color: #101010;
  font-size: 20px;
  font-weight: 200;
}

.pbox.recipe {
  margin-top: 40px;
  padding: 0 50px;
}

.pbox.col {
  margin-top: 90px;
}

.pbox.col {
  font-size: 0;
  text-align: center;
}

.pbox.col img {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}

.pbox.col img:first-child {
  width: 260px;
  margin-right: 50px;
}

.ptitle + .pbox.nutrient {
  margin-top: 14px;
}

.pbox.nutrient {
  font-size: 0;
}

.pbox.nutrient li {
  display: inline-block;
  margin-top: 40px;
  width: calC(50% - 40px);
}

.pbox.nutrient li:nth-of-type(2n) {
  margin-left: 40px;
}

.pbox.nutrient li:nth-of-type(-n + 2) {
  margin-top: 0;
}

.pbox.nutrient .tit {
  display: block;
  margin-bottom: 14px;
  color: #101010;
  font-size: 20px;
}
