@import "tailwindcss";
@import "tw-animate-css";

@import "swiper/css";
@import "swiper/css/effect-creative";
@import "swiper/css/free-mode";

@layer theme {
  @theme {
    --max-w-limit: 520px;
  }
}

@layer utilities {
  .max-w-limit {
    max-width: var(--max-w-limit);
  }

  .grid-card-selector {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media (min-width: 420px) {
    .grid-card-selector {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@keyframes scale-pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-pop {
  animation: scale-pop 0.2s ease-out forwards;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.723 0.219 149.579);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.723 0.219 149.579);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.696 0.17 162.48);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.527 0.154 150.069);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 상품상세템플릿 */
.productdetail + .magazinedetail {
  margin-top: 70px;
}

.productdetail + .productdetail {
  margin-top: 70px;
}

.productdetail img {
  max-width: 100% !important;
}

.productdetail .contbox {
  padding: 0 16px;
}

.productdetail .contbox .ptitle {
  margin-left: 0;
  margin-right: 0;
}

.productdetail .contbox .ptxt {
  margin-left: 0;
  margin-right: 0;
}

.ptitle {
  margin-left: 50px;
  margin-right: 50px;
}

.ptitle.big {
  margin-top: 36px;
  color: #101010;
  font-size: 40px;
  font-weight: 600;
}

.ptitle.middle {
  margin-top: 36px;
  color: #101010;
  font-size: 28px;
}

.ptitle.small {
  margin-top: 11px;
  color: #454545;
  font-size: 24px;
}

.productdetail + .ptitle {
  margin-top: 70px;
}

.ptitle + .productdetail {
  margin-top: 20px;
}

.ptitle + img {
  margin-top: 20px;
}

.ptxt {
  margin-left: 50px;
  margin-right: 50px;
}

.ptxt.default {
  margin-top: 8px;
  line-height: 36px;
  color: #101010;
  font-size: 20px;
}

.ptxt.quote {
  margin-top: 22px;
  padding: 0 38px;
}

.ptxt.quote .col-img {
  position: relative;
  display: inline-block;
  width: 128px;
  vertical-align: top;
}

.ptxt.quote .col-img .img {
  border-radius: 100%;
}

.ptxt.quote .col-img .img-txt {
  position: absolute;
  bottom: -18px;
  left: 0;
}

.ptxt.quote .col-cont {
  display: inline-block;
  padding-left: 21px;
}

.ptxt.quote .col-cont .ptitle.small {
  margin-top: 0;
}

.ptxt.quote .desc {
  margin-top: 28px;
  line-height: 36px;
  color: #767572;
  font-size: 20px;
  text-indent: -11px;
}

.ptxt.quote .desc .mark {
  margin: 0 5px;
  line-height: 24px;
  font-size: 34px;
  font-weight: 600;
  font-style: italic;
}

.pbox.text .desc {
  margin-top: 4px;
  line-height: 36px;
  color: #101010;
  font-size: 20px;
}

.ptxt.checklist {
  margin-top: 10px;
}

.ptxt.checklist li {
  position: relative;
  margin-top: 8px;
  padding-left: 60px;
  color: #101010;
  font-size: 20px;
}

.ptxt.checklist li:first-child {
  margin-top: 0;
}

.ptxt.checklist li:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 22px;
  background: url("/assets/ico-checklist.png") no-repeat 0 0;
}

.ptxt.square {
  margin-top: 45px;
  padding-left: 30px;
}

.ptxt.square strong {
  position: relative;
  color: #101010;
  font-size: 18px;
}

.ptxt.square strong:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -30px;
  width: 8px;
  height: 18px;
  background: #101010;
}

.ptxt.square p {
  margin-top: 8px;
  line-height: 30px;
  color: #454545;
  font-size: 18px;
}

.ptxt.square + .ptxt.number {
  margin-top: 40px;
}

.ptxt.number {
  margin-top: 40px;
  padding-left: 30px;
}

.ptxt.number strong {
  position: relative;
  color: #101010;
  font-size: 18px;
}

.ptxt.number strong:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -30px;
  width: 8px;
  height: 18px;
  background: #101010;
}

.ptxt.number ol {
  margin-top: 10px;
}

.ptxt.number ol li {
  margin-top: 11px;
  padding-left: 21px;
  color: #454545;
  font-size: 18px;
  text-indent: -21px;
}

.ptxt.number ol li:first-child {
  margin-top: 0;
}

.ptxt + .ptxt {
  margin-top: 20px;
}

.ptxt + img {
  margin-top: 20px;
}

.pbox.option + .pbox.option {
  margin-top: 80px;
}

.pbox.option {
  margin-top: 30px;
}

.pbox.option .imgbox.col1 img {
  max-width: 100% !important;
}

.pbox.option .imgbox.col2 img {
  max-width: 50% !important;
}

.pbox.option .imgbox.col3 img {
  max-width: 33.3% !important;
}

.pbox.option .imgbox {
  font-size: 0;
  text-align: center;
}

.pbox.option .imgbox img {
  vertical-align: middle;
}

.pbox.option .imgbox + .tit {
  margin-top: 30px;
}

.pbox.option .tit {
  display: block;
  margin-top: 11px;
  color: #101010;
  font-size: 20px;
  font-weight: 200;
}

.pbox.option .desc {
  display: block;
  margin-top: 4px;
  color: #101010;
  font-size: 20px;
  font-weight: 200;
}

.pbox.recipe {
  margin-top: 40px;
  padding: 0 50px;
}

.pbox.col {
  margin-top: 90px;
}

.pbox.col {
  font-size: 0;
  text-align: center;
}

.pbox.col img {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}

.pbox.col img:first-child {
  width: 260px;
  margin-right: 50px;
}

.ptitle + .pbox.nutrient {
  margin-top: 14px;
}

.pbox.nutrient {
  font-size: 0;
}

.pbox.nutrient li {
  display: inline-block;
  margin-top: 40px;
  width: calC(50% - 40px);
}

.pbox.nutrient li:nth-of-type(2n) {
  margin-left: 40px;
}

.pbox.nutrient li:nth-of-type(-n + 2) {
  margin-top: 0;
}

.pbox.nutrient .tit {
  display: block;
  margin-bottom: 14px;
  color: #101010;
  font-size: 20px;
}
